{% extends "base.html" %}

{% block title %}Brave Software | What is Ad Replacement?{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/shortcode_timeline2.css">
{% endblock %}

{% block mainContent %}



      <!--=== Main content ===-->
    
 <!--=== header BG ===-->
    <div class="parallax-counter-v3 parallaxBg" style="padding-bottom:20px; padding-left:10px">
        <div class="container">
            <div class="row">
                <div style="text-align:left; font-size:20px">
                   
                </div>
            </div>
        </div>
    </div>
    <!--=== End header BG ===-->




   <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-9">
    			<!-- General Questions -->
             <div class="headline"><h1>What is Brave Ad Replacement?</h1></div>
                <div><h4>Brave’s goal is to speed up the web, stop bad ads and pay publishers. One of the ways we plan to accomplish this is with ad replacements. We will also invite users to fund their wallets and to use those funds to pay the publishers of their favorite websites.</h4>
                    
                    <HR><p><h3>Step One: Brave Blocks All Bad Ads and Unwanted Tracking</h3>
Why: Advertising has become overrun with ads that slow down the internet, take up ridiculous amounts of space on a page and sometimes even deliver malware. Users are responding by installing ad-blockers. A faster, safer web relies on blocking the worst ads and all trackers, which makes your web browsing both faster and more private..<BR><BR> In the image below, the red squares represent normal, slow, and often harmful ads that aren't very effective. Dark grey ads are 1st party ads which remain on the web page.
</p>
 </div><BR><BR>
                <img class="img-responsive" src="assets/img/contents/bad_ads.png" alt="">
                
                
                
                 <HR><p><h3>Step Two: Brave Replaces Ads</h3>
We recognize that ads pay for most of our web content. Ads are not going away. So we replace the bad ads with Brave Ads, which we use to pay publishers. <BR><BR> In the image below, we see the same web sites as those above, with ads replaced using Brave Ads from our ad network partners. (represented in light grey)
</p>
 </div><BR><BR>
                <img class="img-responsive" src="assets/img/contents/brave_ads.png" alt="">
                
             
                
                  <HR><p><h3>Step Three: Brave Pays You</h3>
Replacing ads means our users get a share of the gross ad revenue. Brave will pay users 15% of gross ad revenue. This is the same amount of money that we make from those ads (the rest goes to publishers and ad content partners.) And if you are feeling generous, you may route your earnings back to the sites you browse, and even add more through the use of a Brave wallet, administered through BitGo. In exchange for your generosity, we will block all of the ads on the sites you choose to pay. 
</p>
 </div><BR><BR>
                <img class="img-responsive" src="assets/img/contents/ad_money.png" alt="">
                
                  <HR><p><h2><a href="blogpost_2.html">More information and detail about Brave's Ad Blocking and Replacement approach.</a></h2>
  
</p>
 </div><BR><BR>
             
         
                </div>        
    		</div>
        </div>
    </div>
</div>
    <!--=== End main content ===-->

{% endblock %}