{% extends "base.html" %}

{% block title %}Brave Software | Ad Replacement Engine{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/shortcode_timeline2.css">
{% endblock %}

{% block mainContent %}
 <!--=== header BG ===-->
    <div class="parallax-counter-v3 parallaxBg" style="padding-bottom:20px; padding-left:10px">
        <div class="container">
            <div class="row">
                <div style="text-align:left; font-size:20px">
                   
                </div>
            </div>
        </div>
    </div>
    <!--=== End header BG ===-->




   <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-9">
    			<!-- General Questions -->
                <div class="headline"><h2>What is the Brave Ad Replacement Engine?</h2></div>
                <div class="headline">The primary goal of Brave's Ad Replacement Engine is to retain and actually increase ad-based revenue for publishers while making web sites both faster and safer for end users. While this may seem far fetched and even impossible, its actually quite simple once there is a large scale of user adoption and high quality ad inventory. </div>
                
                <div class="jumbotron">
                 <div class="headline"><iframe src="//www.slideshare.net/slideshow/embed_code/key/rDB2eMpAD1V4P7" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/tkawaja/luma-display-ad-tech-landscape-2010-1231" title="DISPLAY LUMAscape" target="_blank">DISPLAY LUMAscape</a> </strong> from <strong><a href="//www.slideshare.net/tkawaja" target="_blank">Terence Kawaja</a></strong> </div></div>
                
                <div class="headline">Most web users who see ads mixed in with their content on a daily basis are not aware of what goes on underneath to bring these ads to their screen. Most people who see this map for the first time are quite surprised at the amount of "middle-men" in the system. THis landscape has grown over a number of years and includes a lot of very serious technology. While much of it has helped to progress the advertising world, it has also spoiled the soup. As shown in this Lumascape map for display-ad players, the network is dense and each portion of the map takes a cut out of the total pie, leaving a shrinking slice for the publishers. </div>
                
                </div>
                
                <div class="jumbotron">
                <div class="headline"><img class="img-responsive" src="assets/img/contents/simplified_map.gif" alt=""></div>
                <div class="headline">The map above shows what happens if we begin to reduce the number of steps in the ad delivery process from the initial investment by the marketer on it's way to the consumer. By using the Brave Vault and Browser system, we have all of the display ad technology needed to even increase ad relevance and effectiveness for each user - and in a completely private, secure and much faster way.</div>
                    </div>
         
<!--                <HR hr-lg>-->
                
<!--
                <div class="jumbotron">
                <div class="headline"><img class="img-responsive" src="assets/img/contents/simplified_flow.gif" alt=""></div>
                <div class="headline">The map below shows what happens if we begin to reduce the number of steps in the ad delivery process from the initial investment by the marketer on it's way to the consumer.</div>
                    </div>
                    
-->

                
                <div class="jumbotron">
                <div class="headline"><img class="img-responsive" src="assets/img/contents/simplified_flow_partners.gif" alt=""></div>
                <div class="headline">By inserting specific parters for ad supply, we remove most of the technology that is slowing down the web. The Brave Vault shown here acts as the secure mediator between the anonymous data locked in the users browser, and the ad supply - which never sees or learns anything about the user.  The publishers are connected to the vault only for distibution of payments.</div>
                </div>

                
                <div class="jumbotron"> 
                <div class="headline"><img class="img-responsive" src="assets/img/contents/publishers_direct_flow.gif" alt=""></div>
                <div class="headline">In the future, as marketer and publisher relationships grow, more of the ad spend is retained through the system. Our goal is to acheive a 60% pay out to publishers which is far above current levels. Amazingly, this still allows a cut for both Brave and the consumers, each getting a 20% share. Brave does all of the hard work in this system, and takes FAR less of a cut than the old system.<BR><BR>(note: 50.00 annual ad spend per user for USA is based on IAB reports and will always fluctuate.)</div>
                </div>        
    		</div>
        </div>
    </div>

    <!--=== End main content ===-->

{% endblock %}