{% extends "base.html" %}

{% block title %}Brave Software | FAQs{% endblock %}

{% block mainContent %}
 <!--=== Parallax Counter v3 ===-->
    <div class="parallax-counter-v3 parallaxBg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6 md-margin-bottom-50">
<!--

                    <div class="features">
                        <span class="counter">5867</span>
                        <span class="features-info">Customers</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                    <div class="features">
                        <span class="counter">7169</span>
                        <span class="features-info">Downloads</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="features">
                        <span class="counter">3146</span>
                        <span class="features-info">Awards</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="features">
                        <span class="counter">9450</span>
                        <span class="features-info">Projects</span>
                    </div>
-->
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Parallax Counter v3 ===-->


   <!--=== Content Part ===-->
          <!-- About Section -->
<section id="about">
    <div class="container content-md">
        <div class="row">
            <div class="col-sm-5 sm-margin-bottom-20">
                <BR><img class="img-responsive" src="assets/img/team/brendan_couch.jpg" alt="">
            <HR>
             <div class="col-sm-7 news">
                    <ul class="list-inline posted-info">
                        <a href="blogpost_2.html"><li><strong>January 27, 2016</strong></li>
                        <li>How Brave Works for You</li>
                        <li>By Brendan Eich</li></a><BR>
                        <HR>
                       <a href="blogpost_1.html"><li><strong>January 20, 2016</strong></li>
                        <li>How to Fix the Web</li>
                        <li>By Brendan Eich</li></a><BR>
                        
                     
                       
                    </ul>
                   </div>
            </div>
            
            <div class="col-sm-7 news-v3">
                <div class="news-v3-in-sm no-padding">
                    <ul class="list-inline posted-info">
                        <li>By Brendan Eich</li>
                        <li>Founder, President and CEO</li>
                        <li>Posted January 20, 2016</li>
                    </ul>
                    <h2><a href="#">How to Fix the Web</a></h2>
                    <p>The Web is always in trouble for some reason or other. I remember when Microsoft came after Netscape and threatened to lock Web standards into IE. Only the Web is so big, with such reach to billions of users, that no one owns it. This means it will always be contested ground.</p>
                    <p>
                    But the Web today faces a primal threat.</p>
                     <p>
                    Some say the threat to the Web is “mobile”, but the Web is co-evolving with smartphones, not going away. Webviews are commonplace in apps, and no publisher of note is about to replace its primary website with a walled-garden equivalent. Nor can most websites hope to develop their own apps and convert their browser users to app-only users.</p>
                     <p>
                     I contend that the threat we face is ancient and, at bottom, human. Some call it advertising, others privacy. I view it as the <a href="https://en.wikipedia.org/wiki/Principal%E2%80%93agent_problem">Principal-Agent conflict of interest</a> woven into the fabric of the Web.</p>
                     <p>
                     You use a browser to find and contribute information, but you generally do not pay for the websites who host that information. Across billions of people, for most sites in most countries, it isn’t realistic to expect anything but a free Web. And as <a href="https://stratechery.com/2015/tim-cooks-unfair-and-unrealistic-privacy-speech-strategy-credits-the-privacy-priority-problem/">Ben Thompson points out</a>, “free” means ad-supported in the main. Yes, successful sites and apps may convert you to a paying customer, but most won’t.</p>
                     <p>
                    You might object: “Hey, I’m ready to pay for websites I support”. I’m with you, but many people are not so well-off that they can support most of the commercial sites they use. Also, the Web missed an opportunity back in the early days to define payments and all they entail as a standard.</p>
                    <p>
                    Once you grant this premise, that the Web needs ads in the large, it follows that your browsing habits will be surveilled, to the best of the ad ecosystem players’ abilities. Also, depending on how poorly ads are designed and integrated, you may become blind or averse to them. Since the ‘90s, I’ve seen several races to the bottom along these lines.</p>
                    <p>
                    The Principal (you) uses a browser (one of a layer of agents, both software and humans) to browse the Web and keep its lights on. Consider your primary agent, the browser. It’s a complex piece of code, but now thanks to Mozilla, WebKit, Chromium, and even in part Microsoft, this billion-dollar investment is available as a mix of free and open source software.</p>
                    <p>
                    Yet thanks to tracking options that are inevitable with anything like the Web, your valuable and private user behavior and browsing intent signals can be extracted via your current browser. And that may not be a fair deal.</p>
                    <p>
                    Everyone’s talking about ad blocking. Blockers can make the user experience of the Web much better. But as <a href="https://marco.org/2015/09/18/just-doesnt-feel-good">Marco Arment noted</a>, they don’t feel good to many folks. They feel like free-riding, or even starting a war. You may never click on an ad, but even forming an impression from a viewable ad has some small value. With enough people blocking ads, the Web’s main funding model is in jeopardy.</p>
                    <p>
                    At Brave, we’re building a solution designed to avert war and give users the fair deal they deserve for coming to the Web to browse and contribute. We are building a new browser and a connected private cloud service with anonymous ads. Today we’re releasing the 0.7 developer version for early adopters and testers, along with open source and our roadmap.</p>
                    <p>
                    Brave browsers block everything: initial signaling/analytics scripts that start the programmatic advertising “dirty pipe”, impression-tracking pixels, and ad-click confirmation signals. By default Brave will insert ads only in a few standard-sized spaces. We find those spaces via a cloud robot (so users don't have to suffer, even a few canaries per screen size-profile, with ad delays and battery draining). We will target ads based on browser-side intent signals phrased in a standard vocabulary, and without a persistent user id or highly re-identifiable cookie.</p>
                    <p>
                    The browser sees everything you do, including actions to stop that annoying phenomenon of retargeting where an ad chases you around the Web, often for something you just bought or decided not to buy. We keep user data out of our cloud Brave Vault by default. It’s better for you and us that we don’t store any of your data without your permission.</p>
                    <p>
                    Thus we are a browser-based ad-tech platform, with high precision and privacy. What’s more, we aim to solve the Principal-Agent problem wherever it arises. Brave is the only approach to the Web that puts users first in ownership and control of their browsing data by blocking trackers by default, with no exceptions. The same could apply to other kinds of data, and with your help, we hope to grow big enough to serve users’ interests above all others’.</p>
                    <p>
                    In evolving systems like the Web, many players get stuck optimizing locally, no matter how much they think globally. Ad blockers may hope for better ads, but so far they seem to be having little effect. Publishers trying ad-blocker blockers may get a few local wins, but that path is an arms race. Brave brings innovation to bear across the whole Web system.</p>
                    <p>
                    <strong>Join us. With your help, we can fix the Web.</strong>
                    </p>



                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End About Section -->
{% endblock %}
