{% extends "base.html" %}

{% block title %}Brave Software | Brave for Android{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/shortcode_timeline2.css">
{% endblock %}

{% block mainContent %}


<!--=== header BG ===-->
    <div class="parallax-counter-v3 parallaxBg" style="padding-bottom:0px; padding-left:10px">
        <div class="container">
            <div class="row">
                <div style="text-align:left; font-size:20px">
                   
                </div>
            </div>
        </div>
    </div>
    <!--=== End header BG ===-->

    <!--=== Main content ===-->
    
<div class="container">
  <div class="row">
     
    <div class="col-md-8 text-left"> <div class="headline"><BR><BR><h3>Brave for Android: How does it work?</h3></div></div></div>
  
  <div class="row gray-lighter">
    <div class="col-md-4"> 
       <img src="/assets/img/contents/brave_load_demo.gif" 
              style="display:block;margin:auto;" width="246" height="438">
    </div>
    <div class="col-md-4"> 
         <ol><BR>
        <li>Click a link in an app.</li><BR>
        <li>A bubble will appear on the edge of the screen and the link will begin <span class="highlight">loading in the background</span>. As soon as the page is loaded, it will be displayed.</li><BR>
      
        <li><p>It's that simple! Using Brave, you can <span class="highlight">keep using your current app rather than wasting your time watching links redirect and waiting for pages to load.</span><BR><BR>What's not to love about that?</li></p></br></br></ol>
    </div>
  </div><BR><BR>
  <div class="row">
    <div class="col-md-8"> <div class="headline"><h3>Show me more!</h3></div></div>
  </div>
  <div class="row">
    <div class="col-md-4"> 
       <img src="/assets/img/contents/brave_add_to_pocket_demo.gif" 
              style="display:block;margin:auto;" width="246" height="438"><BR><BR>
    </div>
    <div class="col-md-4"> 
    <p><strong>You can also quickly share a link or add it to an app such as Pocket:</strong></p>
        

      <p>Looks both fun <i>and</i> useful right?</p>

      <p class="bg-info">Brave also allows you to:</p>
      <ul>
        <li>Load links from all apps.</li>
        <li>Redirects links to a dedicated app (E.g., Instagram).</li>
        <li>Finds embedded videos so you can easily load them in the YouTube app.</li>
        <li>Load multiple bubbles at once.</li>
        <li>Easily switch between web mode and reading mode.</li>
        <li>Themes based on website theme and favicon colors.</li>
        <li>Incognito Mode for private browsing.</li>
      </ul></br></br> </div>
  </div>
<div class="row">
    <div class="col-md-6"> 
        
<p>Thanks, and enjoy the app!</p><br />

<p>The Brave Team</br><a href="https://twitter.com/brave">@Brave</a></p>
      <br />
<p>PS. To close this bubble, either press the Back button or long press the bubble and flick it onto the Close bubble.</p>
   <BR><BR> </div>
       </div>

  </div>
</div>
    
    

  

    <!--=== End main content ===-->

{% endblock %}