{% extends "base.html" %}

{% block title %}Brave Software | iOS Privacy Policy{% endblock %}

{% block mainContent %}
    <div class="container content-md">
        <div class="row" style="margin-top: 60px">
            <div class="col-sm-1 sm-margin-top-80 sm-margin-bottom-20">
            </div>
            <div class="col-sm-8 news-v3">
                <div class="news-v3-in-sm">

                    <h1 style="margin-bottom:0">Brave Privacy Policy</h1>

                    <h6 style="margin-top:0">Last Updated February 11, 2016</h6>

                    <p>This privacy statement describes how our iOS browser &#8220;<strong>Brave</strong>&#8221;, (&#8220;<strong>Brave</strong>&#8221;, &#8220;<strong>us</strong>&#8221;, &#8220;<strong>we</strong>&#8221; and/or &#8220;<strong>our</strong>&#8221;) collects and uses the personal information you provide through Brave. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.  Note, this privacy statement covers your use of Brave only.  If you are visiting the Brave Software web site or using other Brave Software products or services, additional terms may apply.</p>

                    <h3>Overview</h3>
                    <p>Brave is not in the business of selling personal information about you. We believe the best way to ensure your private information is protected is to make every effort to ensure we are not receiving your private information in the first place.</p>

                    <h3>Collection and Use</h3>
                    <p>We use a third party application performance analytics provider called Crashlytics to collect crash report data and other data about the usage of Brave.  For more information on the type of data Crashlytics collects through Brave and how that data is used, please visit  <a href="https://answers.io/img/privacy.pdf" target="_blank">https://answers.io/img/privacy.pdf</a>.  The data collected by Crashlytics is provided to Brave in aggregated form through a crash report &#8211; the report contains information about crashes, specifically what kind of device was being used when Brave crashed and which version was in use during the crash.  We use these reports information to improve the overall performance of Brave. These crash reports do not include personally identifiable information or other personal account information.</p>

                    <h3>Tracking and Ads</h3>
                    <p>Brave and our advertising partners may provide ads to you through Brave when you have enabled the Ad Replacement feature (which is the default setting). These Ads do not use tracking technologies like cookies or any other persistent storage on your browser. Your browsing history is stored and used by Brave to provide anonymous browser-side intent signals to our advertising partners, but the data used to generate these signals is always encrypted and fully anonymized using a client generated key and is not readable by Brave or any of Brave&#8217;s advertising partners. If you choose to disable the Ad Replacement or Ad Blocking features available through Brave&#8217;s settings, this may allow third party cookies and persistent storage technologies to collect information about you and your browsing activities.  This may include collection of your personally identifiable information, but Brave does not receive or use this information.</p>

                    <p>Brave will also collect anonymous ad campaign related data that will be used for reporting and payment. This includes payments to both ad publishers and Brave users for Ads viewed by you using Brave Ad Replacement. This data cannot be linked to your device(s) or otherwise identify you. Brave will not collect any information for ads that are delivered when Ad Replacement is not enabled. </p>

                    <h3>Notification of Privacy Statement Changes</h3>
                    <p>We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (if you have voluntarily signed up for updates via email), and we will also include a notice on our website at <a href="https://brave.com" target="_top">https://brave.com</a>.  Your continued use of Brave after any changes or revisions to this privacy statement shall indicate your agreement with the terms of such revised privacy statement.</p>

                    <h3>Contact</h3>
                    <p>You can contact us about this privacy statement by emailing <a href="mailto:support@brave.com">support@brave.com</a>. We are also available and responding to you questions and concerns at <a href="https://twitter.com/Brave" target="_blank">twitter.com/Brave</a> and at <a href="https://github.com/Brave" target="_blank">Github.com/Brave</a>.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
